<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" mode="md" >
      <ion-back-button defaultHref="/" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>  

  <ion-slides mode="ios" class="slide-full">  

    <!-- el ngFor va aquí en el ion-slide -->

    <ion-slide>
  
      <ion-card mode="ios">
  
        <ion-img src="/assets/joyclub.jpg"></ion-img>
  
      </ion-card>  
  
    </ion-slide>
  
  </ion-slides>


</ion-content>
