<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button menu="first" color="primary"></ion-menu-button>
        </ion-buttons>       
        <ion-title>Galeria</ion-title>
        
    </ion-toolbar>
    
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="12" size-lg="3" size-md="4" size-sm="6" *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1,1,1]"
                color="dark">

                

                <ion-card routerLink="/perfilsc">
                    <ion-img src="/assets/joyclub.jpg"></ion-img>
                    <ion-card-header>
                        <ion-card-title>Grazi</ion-card-title>
                        <ion-card-subtitle>Edad: 31</ion-card-subtitle>
                        
                    </ion-card-header>
                </ion-card>

            </ion-col>
        </ion-row>
    </ion-grid>