<ion-header class="ion-no-border">
  <ion-toolbar>
    

    <ion-buttons slot="start">
      <ion-back-button
      defaultHref="/"
      text="Regresar"
      color="primary"
      mode="ios">
    </ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize" color="secondary">
      {{ titulo }}
    </ion-title>
  </ion-toolbar>
</ion-header>