<ion-header class="ion-no-border">
  <ion-toolbar>
    
    <ion-title class="ion-text-center">Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col
      size="12" 
      size-lg="3" 
      size-md="4" 
      size-sm="6"
      *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1,1]"
      color="dark">
        
        <ion-card routerLink="/login">
          <ion-img src="/assets/joyclub.jpg"></ion-img>
          <ion-card-header>
            <ion-card-title>Grazi</ion-card-title>
            <ion-card-subtitle>Edad: 31</ion-card-subtitle>            
          </ion-card-header>          
        </ion-card>
        
      </ion-col>   
    </ion-row>
  </ion-grid>

 


</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row class="top-20">
      <ion-col>
        <ion-button expand="block" routerLink="/login" fill="clear" shape="round">
          Login
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" routerLink="/registro" fill="clear" shape="round">
          Registro
        </ion-button>      
      </ion-col>

    </ion-row>
    

  </ion-toolbar>
</ion-footer>
