
<app-header titulo=""></app-header>


<ion-content mode="md">

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" 
      size-lg="4" 
      size-md="6" 
      size-sm="6">

      <ion-card>
      
        <ion-item color="primary">
          <ion-label class="ion-text-center">
            <h1>Login</h1>
          </ion-label>
        </ion-item>
      
        <ion-card-content>
          <ion-item>
            <ion-label position="floating">
              Correo
            </ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">
              Contraseña
            </ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
      
          <ion-button routerLink="/galery" expand="block" fill="clear" shape="round">
            Ingresar
          </ion-button>      
        </ion-card-content>    
        
      
      </ion-card>
      
      <ion-button routerLink="/registro" expand="block" fill="clear" shape="round">
        <small>Registro</small>
      </ion-button>
      
      <ion-button routerLink="/registro" expand="block" fill="clear" shape="round">
        <small>recuperar contraseña</small>
      </ion-button>

    </ion-col>   
    </ion-row>
  </ion-grid>

  


</ion-content>
